In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn.metrics
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [2]:
data = pd.read_table('data/olympics.csv', sep=',', header=0, engine='python')

In [3]:
# converting the column sex and season to numerical categories
data = data.replace({'Sex' : { 'F' : 0, 'M' : 1}})
data = data.replace({'Season' : { 'Summer' : 0, 'Winter' : 1}})

In [4]:
#adding the medal column to the end
temp = data.pop('Medal')
data['Medal']=temp

In [5]:
data.head()

,Name,Sex,Age,Height,Weight,Country,Year,Season,Sport,Event,Average Temperature,GDP Per Capita,Medal
0,Leszek Hensler,1,24.0,172.0,70.0,Poland,1980,0,Hockey,Hockey Men's Hockey,7.85,17091.859905,0.0
1,Stanisaw Wierzbicki,1,21.0,189.0,87.0,Poland,1980,0,Rowing,Rowing Men's Quadruple Sculls,7.85,17091.859905,0.0
2,Jacek Maria Wierzchowiecki,1,36.0,170.0,68.0,Poland,1980,0,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",7.85,17091.859905,0.0
3,Barbara Bronisawa Baran-Wojnar,0,20.0,168.0,55.0,Poland,1980,0,Athletics,Athletics Women's Long Jump,7.85,17091.859905,0.0
4,Wadysaw Stecyk,1,29.0,156.0,52.0,Poland,1980,0,Wrestling,"Wrestling Men's Flyweight, Freestyle",7.85,17091.859905,2.0

In [6]:
sports = data['Sport'].unique()

In [7]:
sport_label = dict(zip(sports, range(len(sports))))

In [8]:
# convert the column sport to numerical categorical data
data['Sport'] = [sport_label[s] for s in data['Sport']]

In [9]:
data.head()

,Name,Sex,Age,Height,Weight,Country,Year,Season,Sport,Event,Average Temperature,GDP Per Capita,Medal
0,Leszek Hensler,1,24.0,172.0,70.0,Poland,1980,0,0,Hockey Men's Hockey,7.85,17091.859905,0.0
1,Stanisaw Wierzbicki,1,21.0,189.0,87.0,Poland,1980,0,1,Rowing Men's Quadruple Sculls,7.85,17091.859905,0.0
2,Jacek Maria Wierzchowiecki,1,36.0,170.0,68.0,Poland,1980,0,2,"Equestrianism Mixed Three-Day Event, Individual",7.85,17091.859905,0.0
3,Barbara Bronisawa Baran-Wojnar,0,20.0,168.0,55.0,Poland,1980,0,3,Athletics Women's Long Jump,7.85,17091.859905,0.0
4,Wadysaw Stecyk,1,29.0,156.0,52.0,Poland,1980,0,4,"Wrestling Men's Flyweight, Freestyle",7.85,17091.859905,2.0

In [10]:
olympic_feature_vector = data.to_csv (r'data/olympics_fv.csv', index = None, header=True)

In [11]:
scaler = StandardScaler()

In [12]:
y = data.pop('Medal')

In [13]:
Y = y.values

In [14]:
Y

array([0., 0., 0., ..., 0., 0., 0.])

In [15]:
X = data.copy()

In [16]:
#removing attributes that aren't required for the model
X.pop('Name')
X.pop('Country')
X.pop('Event')
print("Removing unnecessary attribues")

Removing unnecessary attribues

In [17]:
X.head()

,Sex,Age,Height,Weight,Year,Season,Sport,Average Temperature,GDP Per Capita
0,1,24.0,172.0,70.0,1980,0,0,7.85,17091.859905
1,1,21.0,189.0,87.0,1980,0,1,7.85,17091.859905
2,1,36.0,170.0,68.0,1980,0,2,7.85,17091.859905
3,0,20.0,168.0,55.0,1980,0,3,7.85,17091.859905
4,1,29.0,156.0,52.0,1980,0,4,7.85,17091.859905

In [18]:
# splitting the data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
# using the scaler to fit on the test data
scaler.fit(X)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [21]:
parameters={
            'activation': ['identity', 'logistic', 'tanh', 'relu'],
            'hidden_layer_sizes': [
             (1,10),(2,10),(3,10),(4,10),(5,10),(6,10),(7,10),(8,10),(9,10),(10,10)
             ]
        }

In [22]:
# %%time
# clf = GridSearchCV(estimator=MLPClassifier(max_iter = 500), param_grid=parameters, cv=10, scoring='accuracy')
# clf.fit(X, y)
# clf.best_params_

In [23]:
# clf.best_params_

In [24]:
mlp = MLPClassifier(activation='identity', hidden_layer_sizes=(10,10), max_iter=500)

In [25]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10)
kf.get_n_splits(X)
all_accuracy = []

In [26]:
KFold(n_splits=10, random_state=None, shuffle=False)
for train_index, test_index in kf.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    mlp.fit(X_train, y_train)
    predicted = mlp.predict(X_test)
    accuracy = sklearn.metrics.accuracy_score(predicted, y_test)
    all_accuracy.append(accuracy)

m_a = np.mean(all_accuracy)

In [27]:
print("Average Accuracy:", m_a)

Average Accuracy: 0.8640779936626849

In [29]:
# using the best found model to get the predictions
X_train, X_test, y_train, y_test = train_test_split(X, y)
scaler.fit(X)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
mlp.fit(X_train, y_train) 
predictions = mlp.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

In [30]:
print("Precision score values: ", precision_score(y_test, predictions, average='weighted'))

Precision score values:  0.7498419233709751

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [31]:
print("Recall score values: ", recall_score(y_test, predictions, average='weighted'))

Recall score values:  0.8659341333906264

In [32]:
print("Classification report: ")
print(classification_report(y_test, predictions, labels=np.unique(y_test)))

Classification report:
              precision    recall  f1-score   support

         0.0       0.87      1.00      0.93     28213
         1.0       0.00      0.00      0.00      1390
         2.0       0.00      0.00      0.00      1479
         3.0       0.00      0.00      0.00      1499

   micro avg       0.87      0.87      0.87     32581
   macro avg       0.22      0.25      0.23     32581
weighted avg       0.75      0.87      0.80     32581

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)