In [121]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn.metrics
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix

In [94]:
data = pd.read_table('data/olympics.csv', sep=',', header=0, engine='python')

In [95]:
data = data.replace({'Sex' : { 'F' : 0, 'M' : 1}})
data = data.replace({'Season' : { 'Summer' : 0, 'Winter' : 1}})

In [96]:
temp = data.pop('Medal')
data['Medal']=temp

In [97]:
data.head()

,Name,Sex,Age,Height,Weight,Country,Year,Season,Sport,Event,Average Temperature,GDP Per Capita,Medal
0,Leszek Hensler,1,24.0,172.0,70.0,Poland,1980,0,Hockey,Hockey Men's Hockey,7.85,17091.859905,0.0
1,Stanisaw Wierzbicki,1,21.0,189.0,87.0,Poland,1980,0,Rowing,Rowing Men's Quadruple Sculls,7.85,17091.859905,0.0
2,Jacek Maria Wierzchowiecki,1,36.0,170.0,68.0,Poland,1980,0,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",7.85,17091.859905,0.0
3,Barbara Bronisawa Baran-Wojnar,0,20.0,168.0,55.0,Poland,1980,0,Athletics,Athletics Women's Long Jump,7.85,17091.859905,0.0
4,Wadysaw Stecyk,1,29.0,156.0,52.0,Poland,1980,0,Wrestling,"Wrestling Men's Flyweight, Freestyle",7.85,17091.859905,2.0

In [98]:
sports = data['Sport'].unique()

In [99]:
sport_label = dict(zip(sports, range(len(sports))))

In [100]:
data['Sport'] = [sport_label[s] for s in data['Sport']]

In [140]:
data.head()

,Name,Sex,Age,Height,Weight,Country,Year,Season,Sport,Event,Average Temperature,GDP Per Capita
0,Leszek Hensler,1,24.0,172.0,70.0,Poland,1980,0,0,Hockey Men's Hockey,7.85,17091.859905
1,Stanisaw Wierzbicki,1,21.0,189.0,87.0,Poland,1980,0,1,Rowing Men's Quadruple Sculls,7.85,17091.859905
2,Jacek Maria Wierzchowiecki,1,36.0,170.0,68.0,Poland,1980,0,2,"Equestrianism Mixed Three-Day Event, Individual",7.85,17091.859905
3,Barbara Bronisawa Baran-Wojnar,0,20.0,168.0,55.0,Poland,1980,0,3,Athletics Women's Long Jump,7.85,17091.859905
4,Wadysaw Stecyk,1,29.0,156.0,52.0,Poland,1980,0,4,"Wrestling Men's Flyweight, Freestyle",7.85,17091.859905

In [114]:
scaler = StandardScaler()

In [104]:
y = data.pop('Medal')

In [105]:
Y = y.values

In [109]:
X = data.copy()

In [ ]:
X.pop('Name')
X.pop('Country')
X.pop('Event')

In [115]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [116]:
scaler.fit(X)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [117]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [135]:
mlp = MLPClassifier(hidden_layer_sizes=(200,200), max_iter=500)

In [136]:
mlp.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:564: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(200, 200), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [137]:
predictions = mlp.predict(X_test)

In [138]:
accuracy = sklearn.metrics.accuracy_score(predictions, y_test)

In [139]:
accuracy

0.8610232957858874