In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn.metrics
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

In [2]:
data = pd.read_table('data/olympics_fv.csv', sep=',', header=0, engine='python')

In [3]:
scaler = StandardScaler()

In [4]:
y = data.pop('Medal')

In [5]:
Y = y.values

In [6]:
X = data.copy()

In [7]:
X.pop('Name')
X.pop('Country')
X.pop('Event')
X.pop('Year')
X.head()

,Sex,Age,Height,Weight,Season,Sport,Average Temperature,GDP Per Capita
0,1,24.0,172.0,70.0,0,0,7.85,17091.859905
1,1,21.0,189.0,87.0,0,1,7.85,17091.859905
2,1,36.0,170.0,68.0,0,2,7.85,17091.859905
3,0,20.0,168.0,55.0,0,3,7.85,17091.859905
4,1,29.0,156.0,52.0,0,4,7.85,17091.859905

In [8]:
X.head()

,Sex,Age,Height,Weight,Season,Sport,Average Temperature,GDP Per Capita
0,1,24.0,172.0,70.0,0,0,7.85,17091.859905
1,1,21.0,189.0,87.0,0,1,7.85,17091.859905
2,1,36.0,170.0,68.0,0,2,7.85,17091.859905
3,0,20.0,168.0,55.0,0,3,7.85,17091.859905
4,1,29.0,156.0,52.0,0,4,7.85,17091.859905

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
scaler.fit(X)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [12]:
clf = KNeighborsClassifier(n_neighbors=100)

In [13]:
clf.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=100, p=2,
           weights='uniform')

In [14]:
predictions = clf.predict(X_test)

In [15]:
accuracy = sklearn.metrics.accuracy_score(predictions, y_test)

In [16]:
accuracy

0.8620975415119241

In [18]:
%%time
from sklearn.model_selection import KFold
kf = KFold(n_splits=10)
kf.get_n_splits(X)
all_accuracy = []

print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)
CPU times: user 353 µs, sys: 80 µs, total: 433 µs
Wall time: 401 µs

In [20]:
KFold(n_splits=10, random_state=None, shuffle=False)
for train_index, test_index in kf.split(X):
#     print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    clf.fit(X_train, y_train)
#     print(mlp.predict(X_test), y_test)
    predicted = clf.predict(X_test)
    accuracy = sklearn.metrics.accuracy_score(predicted, y_test)
    print(accuracy)
    all_accuracy.append(accuracy)

m_a = np.mean(all_accuracy)

0.8651883679889512
0.8816849535793755
0.8219136039284892
0.7904549988490754
0.8501381215469613
0.8972529158993248
0.8729281767955801
0.9291743400859422
0.832719459791283
0.8987875997544506

In [22]:
m_a

0.8640242538219434