In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

In [2]:
climate_data = pd.read_table('data/scraped_climate_info.csv', sep=',', header=0, engine='python')

In [3]:
gdp_data = pd.read_table('data/gdpdata.csv', sep=',', header=0, engine='python')

In [4]:
olympics_data = pd.read_table('data/athlete_events.csv', sep=',', header=0, engine='python')

In [5]:
climate_data.head()

        Country Average Temperature
0  Burkina Faso               28.25
1          Mali               28.25
2      Kiribati               28.20
3      Djibouti               28.00
4        Tuvalu               28.00

In [6]:
gdp_data.head()

        Name  2019 Population  GDP (IMF)  GDP (UN '16)  GDP Per Capita
0   Zimbabwe        17297.495     21.067     16.123764     1217.922017
1     Zambia        18137.369     27.217     21.063064     1500.603533
2      Yemen        29579.986     17.452     25.374086      589.993518
3    Vietnam        97429.061    264.939    205.276171     2719.301585
4  Venezuela        32779.868     92.417    291.376437     2819.321908

In [7]:
olympics_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
gdp_data.rename(columns={'Name':'Country'}, inplace=True)

In [9]:
common_countries = pd.merge(climate_data, gdp_data, how='inner', on=['Country'])
climate_gdp = common_countries[['Country','Average Temperature', 'GDP Per Capita']]

In [10]:
climate_data.shape

(191, 2)

In [11]:
gdp_data.shape

(211, 5)

In [12]:
common_countries.head()

,Country,Average Temperature,2019 Population,GDP (IMF),GDP (UN '16),GDP Per Capita
0,Burkina Faso,28.25,20321.560,15.867,11.695117,780.796356
1,Mali,28.25,19689.140,19.247,14.001697,977.543966
2,Kiribati,28.20,120.428,0.220,0.173655,1826.817684
3,Djibouti,28.00,985.690,2.380,1.891520,2414.552243
4,Tuvalu,28.00,11.393,0.045,0.036697,3949.793733

In [13]:
climate_gdp.head()

        Country Average Temperature  GDP Per Capita
0  Burkina Faso               28.25      780.796356
1          Mali               28.25      977.543966
2      Kiribati               28.20     1826.817684
3      Djibouti               28.00     2414.552243
4        Tuvalu               28.00     3949.793733

In [14]:
climate_gdp['Average Temperature'] = climate_gdp['Average Temperature'].str.replace('âˆ’', '-').astype(float)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
olympics_data = olympics_data[['Name','Sex', 'Age', 'Height', 'Weight', 'Team', 'Year', 'Season', 'Sport', 'Event', 'Medal']]

In [16]:
olympics_data.shape

(271116, 11)

In [17]:
olympics_data.rename(columns={'Team':'Country'}, inplace=True)

In [18]:
olympics_data = olympics_data.dropna()

In [19]:
olympics_data = olympics_data[olympics_data['Year'].between(1980, 2018, inclusive=True)].sort_values(by=['Year'])

In [20]:
olympics = pd.merge(olympics_data, climate_gdp, how='inner', on=['Country'])
olympics.shape

(17714, 13)

In [21]:
olympics_csv = olympics.to_csv (r'data/olympics.csv', index = None, header=True)

In [22]:
data = pd.read_table('data/olympics.csv', sep=',', header=0, engine='python')

In [23]:
data

,Name,Sex,Age,Height,Weight,Country,Year,Season,Sport,Event,Medal,Average Temperature,GDP Per Capita
0,Neculai Vasilca,M,24.0,185.0,89.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
1,Lucian Vasilache,M,25.0,196.0,100.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
2,Melita (-Melitta) Ruhn (-Fleischer),F,15.0,156.0,42.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Team All-Around,Silver,8.80,13614.951425
3,Melita (-Melitta) Ruhn (-Fleischer),F,15.0,156.0,42.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Horse Vault,Bronze,8.80,13614.951425
4,Melita (-Melitta) Ruhn (-Fleischer),F,15.0,156.0,42.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Uneven Bars,Bronze,8.80,13614.951425
5,tefan Rusu,M,24.0,178.0,74.0,Romania,1980,Summer,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",Gold,8.80,13614.951425
6,Corneliu Valter Chifu,M,26.0,192.0,83.0,Romania,1980,Summer,Volleyball,Volleyball Men's Volleyball,Bronze,8.80,13614.951425
7,Marius Cta Chiiga,M,20.0,196.0,85.0,Romania,1980,Summer,Volleyball,Volleyball Men's Volleyball,Bronze,8.80,13614.951425
8,Dumitru Velicu,M,49.0,175.0,68.0,Romania,1980,Summer,Equestrianism,"Equestrianism Mixed Dressage, Team",Bronze,8.80,13614.951425
9,Maricel Voinea,M,21.0,189.0,82.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
10,Radu Voina,M,29.0,185.0,80.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
11,Petre Roca,M,57.0,170.0,67.0,Romania,1980,Summer,Equestrianism,"Equestrianism Mixed Dressage, Team",Bronze,8.80,13614.951425
12,Valeria Roca-Rcil (-van Grningen),F,23.0,176.0,74.0,Romania,1980,Summer,Rowing,Rowing Women's Double Sculls,Bronze,8.80,13614.951425
13,Petre Capusta,M,23.0,171.0,77.0,Romania,1980,Summer,Canoeing,"Canoeing Men's Canadian Doubles, 500 metres",Silver,8.80,13614.951425
14,Dumitria Turner,F,16.0,159.0,45.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Team All-Around,Silver,8.80,13614.951425
15,Claudiu Eugen Ionescu,M,20.0,193.0,96.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
16,Corneliu Ion,M,29.0,182.0,70.0,Romania,1980,Summer,Shooting,"Shooting Mixed Rapid-Fire Pistol, 25 metres",Gold,8.80,13614.951425
17,Dumitru Cipere,M,22.0,165.0,54.0,Romania,1980,Summer,Boxing,Boxing Men's Bantamweight,Bronze,8.80,13614.951425
18,Adrian Cosma,M,30.0,180.0,78.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
19,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Individual All-Around,Silver,8.80,13614.951425
20,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Team All-Around,Silver,8.80,13614.951425
21,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Floor Exercise,Gold,8.80,13614.951425
22,Nadia Elena Comneci (-Conner),F,18.0,162.0,45.0,Romania,1980,Summer,Gymnastics,Gymnastics Women's Balance Beam,Gold,8.80,13614.951425
23,Ana Iliu,F,22.0,179.0,74.0,Romania,1980,Summer,Rowing,Rowing Women's Coxed Eights,Bronze,8.80,13614.951425
24,Maria Constantinescu,F,24.0,179.0,75.0,Romania,1980,Summer,Rowing,Rowing Women's Coxed Eights,Bronze,8.80,13614.951425
25,tefan Birtalan,M,31.0,194.0,96.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
26,Ion Brldeanu,M,21.0,187.0,87.0,Romania,1980,Summer,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",Bronze,8.80,13614.951425
27,Florica Bucur (-Szilagh),F,21.0,175.0,76.0,Romania,1980,Summer,Rowing,Rowing Women's Coxed Eights,Bronze,8.80,13614.951425
28,Elena Bondar,F,21.0,178.0,74.0,Romania,1980,Summer,Rowing,Rowing Women's Coxed Eights,Bronze,8.80,13614.951425
29,Iosif Boro,M,27.0,184.0,88.0,Romania,1980,Summer,Handball,Handball Men's Handball,Bronze,8.80,13614.951425
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17684,Ana oki,F,33.0,165.0,60.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17685,Majda Mehmedovi,F,22.0,170.0,67.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17686,Radmila Miljani-Petrovi,F,24.0,157.0,60.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17687,Bojana Popovi (Petrovi-),F,32.0,188.0,86.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17688,Sonja Barjaktarovi,F,25.0,180.0,74.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17689,Katarina Bulatovi,F,27.0,186.0,71.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17690,Anela Bulatovi,F,25.0,175.0,67.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17691,Marina Vukevi-Raji,F,18.0,175.0,70.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17692,Suzana Lazovi,F,20.0,178.0,72.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17693,Milena Kneevi-Raievi,F,22.0,177.0,71.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17694,Ana Radovi,F,25.0,175.0,65.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17695,"Jovanka ""Jova"" Radievi",F,25.0,170.0,68.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17696,Maja Savi,F,36.0,176.0,66.0,Montenegro,2012,Summer,Handball,Handball Women's Handball,Silver,10.55,9314.297972
17697,Erick Bernab Barrondo Garca,M,21.0,178.0,60.0,Guatemala,2012,Summer,Athletics,Athletics Men's 20 kilometres Walk,Silver,23.45,4996.005767
17698,Pavlos Kontides,M,22.0,183.0,82.0,Cyprus,2012,Summer,Sailing,Sailing Men's One Person Dinghy,Silver,18.45,21994.664673
17699,Semi Kunabuli Kunatani,M,25.0,192.0,98.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17700,Ro Masivesi Dakuwaqa,M,22.0,190.0,105.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17701,Vatemo Ravouvou,M,26.0,171.0,81.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17702,Savenaca Rawaca,M,24.0,189.0,105.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17703,Osea Kolinisau,M,30.0,174.0,90.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17704,Viliame Sevaka Mata,M,24.0,196.0,106.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17705,Leone Nakarawa,M,28.0,198.0,109.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17706,Kitione Taliga,M,23.0,186.0,87.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17707,Jasa Veremalua,M,28.0,195.0,98.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17708,Josua Tuisova Ratulevu,M,22.0,180.0,108.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17709,"Seremaia ""Jerry"" Tuwai Vunisa",M,27.0,174.0,81.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17710,Apisai Raviyawa Domolailai,M,27.0,192.0,98.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17711,Samisoni Viriviri,M,28.0,186.0,88.0,Fiji,2016,Summer,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,Gold,24.40,6306.346509
17712,Abdoul Razak Issoufou Alfaga,M,21.0,207.0,90.0,Niger,2016,Summer,Taekwondo,Taekwondo Men's Heavyweight,Silver,27.15,462.404232
17713,Ahmad Abughaush,M,20.0,178.0,68.0,Jordan,2016,Summer,Taekwondo,Taekwondo Men's Featherweight,Gold,18.30,4448.353164